$trial_color: gray;


body {
  background-image: url("http://orig12.deviantart.net/657b/f/2013/242/c/d/cddbc13802d7fd5e948293e3b3c0e701-d6kb5a1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#wholeContainer {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 1000px;
}

section {
  border: 2px solid black;
}

body ul {
  list-style-type: none;
}

/*-------NAVIGATION BAR--------*/

.nav {

}

/*-------BLUE BOX--------*/

.blueCol {
  border-radius: 20px;
}

.col-md-2, .col-md-3 {
  
}

.musicRow {
  border-radius: 30px;
  background: radial-gradient( ellipse, rgba(255, 0, 0, .8) 0%, rgba(255, 0, 0, .5) 40%, rgba(255, 0, 0, .0) 70%);
  color: darkgrey;
  text-shadow: 2px 2px 2px black;
}

.musicRow:hover {
  color: $trial_color;
}

.col-md-12 {
  text-align: center;
}

.deleteBtn {
  text-align: center;
}

.blueCol {
  background: radial-gradient( ellipse,rgba(77, 215, 250, .5) 0%, rgba(77, 0, 250, .5) 70%, rgba(0, 0, 0, .0) 100%);
  color: darkgrey;
  text-shadow: 1px 2px 2px black;
}

.checkBoxCol {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#left {
  background: #4DD7FA;
  float: left;
  width: 200px;
  height: 600px;
  margin-right: 12px;
  margin-top: 15px;
}

#left select {
  width: 75%;
}

#left ul {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

#left ul li {
  padding-bottom:5px;
}

#checkbox-list div {
  display: inline;
}

.songList {
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 7px;
}

#left-side ul {
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}

.btn {
  margin-left: 36px;
  margin-top: 20px;
}

select {
  margin-top: 10px;
  margin-bottom: 20px;
}


.form-control {
  width: 120px;
}



/*-------YELLOW BOX--------*/

.col-md-4 {
  display: block;
}

#right {
  background: #FEFAC0;
  float: left;
  width: 415px;
  height: 600px;
  margin-top: 15px;
}

#right ul li {
  font-size: 20px;
  font-weight: 900;
}

.btn-link {
  margin: 0 0 0 20px;
  padding: 0;
}

/*-------ADD MUSIC--------*/

.userEditInputDes {
  color: lightgrey;
  margin-top: 15px;
}

#addMusicSection {
  text-shadow: 1px 1px .5px red;
  text-align: center;
  margin: 0 auto;
  width: 612px;
}

#postNewSong{
  margin: 20px auto;
}

/*-------DISPLAY CHANGE--------*/

.visible {
  display: block;
}

.hidden {
  display: none;
}

input {
  border-radius: 4px;
}

#addMore {
  margin: 50px auto;
  margin-bottom: 200px;
}



